{% extends "base.html" %}

{% block content %}
<h1>Tak for din interesse!</h1>
<div class="info-box">
	<p>
		Tusind tak for din interesse i at hjælpe mig med mit speciale. Desværre må jeg kun benytte evalueringer foretaget af personer, som ikke arbejder med billeder til daglig.
	</p>
	<p>
		Formålet med mit speciale er, at sammenligne billedkvalitetsevalueringer foretaget af mennesker med billedkvalitetsevalueringer foretaget af en computer. Ud fra denne sammenligning skal jeg anbefale den metode, hvor computerens billedkvalitetsevaluering stemmer bedst overens med menneskers evalueringer af billedkvalitet. Dette vil gøre det lettere og billigere for virksomheder, som arbejder med billeder, at få evalueret deres billedkvalitet.
	</p>
</div>
{% endblock %}