{% extends "base.html" %}

{% block content %}
<h1>Welcome to the image quality evaluation</h1>
<div class="info-box">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis vehicula sem. Donec et orci mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tincidunt mi eu mauris porta luctus. Cras vitae dui et mauris scelerisque aliquam in at diam. Suspendisse viverra mauris et est bibendum cursus. Donec quis nisi eleifend, aliquam lorem in, aliquet nunc. Phasellus varius malesuada ex non ultrices. Morbi at ligula purus. Nam eget libero non magna posuere consequat vitae in enim. Vestibulum accumsan venenatis lectus vitae dignissim. Nunc a aliquet nibh.
	</p>
	<p>
		Pellentesque at venenatis velit. Phasellus tincidunt facilisis ex. Ut ornare cursus dolor, id elementum enim posuere ac. Pellentesque efficitur erat in feugiat vestibulum. Proin sodales erat non ante ultricies posuere. Quisque nec mi enim. Aliquam congue, enim eu eleifend pretium, ante erat bibendum orci, vitae pulvinar magna lacus quis mi. Etiam accumsan dolor in urna lacinia feugiat. Curabitur varius ante non diam euismod gravida.
	</p>
</div>
<a href="/evaluations/1/" class="button">Start evaluation</a>
{% endblock %}